.pagination{
    list-style: none;/* no bullet points */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 16px;
    gap: 10px;
}
.pageNumber{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.pageNumber:hover{
    background-color:red;
    color: white;
}
.active{
  background-color: skyblue;
}